/*TODO: Add a background color or image to your website*/
body {
 background-color: #ff99cc; 
  text-align: center;

}

h1 {
  color: #6666ff;
  font-size: 3.5em;
  font-family: Montserrat;
}

#home-img {
  border-radius: 15%;
  width: 400px
}

nav {
  text-align: left;
  font-size: 1.5em;
}

.header-down {
  border: 2px solid;
}

* {
    margin: 0px;
    padding: 10px;
    }




/*TODO: Add styling rules for the text and images on your website.*/
p {
  font-size: 2em;
}



/*TODO: Style the Nav Bar by selecting the u1, li, and li a elements*/




/*TODO: Create a Flexbox to create a responsive layout. Use the property display: flex;/ 