/*TODO: Add a background color or image to your website*/
body {
 background-color: #ff99cc; 
  text-align: center;

}

h1 {
  color: #6666ff;
  font-size: 3em;
  padding: 30px;
  font-family: Montserrat;
}

#home-img {
  border-radius: 15%;
  width: 400px
}

nav {
  text-align: left;
  font-size: 1.5em;
  font-family: Montserrat;
}

.header-down {
  margin: 0px;
}

@font-face {
    font-family: Arimo;
    src: url(https://cdn.glitch.com/689f22df-69a0-4f26-a811-0aad35622b6c%2FArimo.zip?v=1592371077084);
}

* {
    margin: 0px;
    padding: 0px;
}

.intro-text {
  font-size: 2em;
}

/*TODO: Add styling rules for the text and images on your website.*/
p {
  font-size: 2em;
  margin: 50px;
  font-family: Arimo;
}



/*TODO: Style the Nav Bar by selecting the u1, li, and li a elements*/
ul {
  list-style-type: none;
  background-color: #cc0066;
  width: 20%;
  padding: 20px;
}

li{
  display: inline;
}

li a{
  color: white;
  text-decoration: none;
  text-align: left;
  font-size 1.3m;
}

li a:hover {
  text-decoration: underline;
}


/*TODO: Create a Flexbox to create a responsive layout. Use the property display: flex;/ 
